@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;   
}
body{
    margin: 0;
}
ul{
    list-style: none;
}
.container{
    margin: auto;
    max-width: 1000px;
    padding: 0 20px;
}


/* header */
header{
    max-width: 100%;
    background-color:  #DDF4FF;

   
}

.nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
    padding-left: 40px; 
    position: relative; 
}
.open-menu{
    position: absolute;
    right: 0;
    bottom: 25px;
    display: none;
}    
.open-menu i{
    font-size: 30px;
    margin-top: 20px;
    right: 10px;
    top: 0px;
    
}
.close-menu{
    position: absolute;
    right: 0;
    bottom: 25px;
    display: none;
}    
.close-menu i{
    font-size: 30px;
    margin-top: 20px;
    right: 10px;
    top: 0px;
    
}
#check{
    display: none;
}
.navitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 50px 0 0;
}
.brandlogo a{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #252B42;
    z-index: 9;

}
.navitems li a{
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      color: #737373;

}
.loginbtn{
      width:41px;
      font-size: 14px;
      font-weight: 700;
      background-color: transparent;
      color: #96BB7C;
      border: none;
      margin-left: 50px;
}
.joinbtn{
    
      padding: 15px 25px 15px 25px;
      gap: 15px;
      border-radius: 5px 5px 5px 5px;
      font-size: 14px;
      font-weight: 700;
      background-color: #96BB7C;
      color: #FFFFFF;
      border: none;
      display: flex;
      gap: 10px;

}
 .joinbtn:hover{
    background-color: #65e708;
}
#check:checked~ .navitems{
    left: 0;
}
/* header-end */

/* banner-section */

.banner-section{
    max-width:100%;
    background-color: #DDF4FF;
    min-height:;
}


.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}

.banner-left{
    max-width: 50%; 
  
}
.banner-right{
    max-width: 50%;

   
}
.banner-right img{
  max-width: 100%;
  margin: auto;
    
}

.banner-left .banner1{
      font-size: 16px;
      font-weight: 700;
      color: #96BB7C;
      

}
.banner-left .banner2{
    font-size: 58px;
    font-weight: 700;
    text-align: left;
    margin-top: 30px;

}
.banner-left .banner3{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #737373;
    margin-top: 30px;
    
}
.btn{
    display: flex;
    gap: 5px;
    margin-top: 30px;
    
}
.btn .quote{
    width:193px;
    height: 40px;
    gap: 10px;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: none;
    background-color: #96BB7C;
    color: #FFFFFF;
     
}
.btn .quote:hover{
    background-color: #65e708; 
}
.btn .learn{
    width:162px;
    height: 40px;
    gap: 10px;
    border-radius: 5px 5px 5px 5px;
    border: 1px 0px 0px 0px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    color: #96BB7C;
}
.btn .learn:hover{
    background-color: #FFFFFF;
}

/* .banner-section end */

/* .status-section */

.status-section{
    max-width: 100%;
    background-color:  #FFFFFF;
    padding-top: 20px; 
}

.status-bar{
    max-width: 100%;
    padding: 24px 40px 24px 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 100px 0 100px;

}
.status1{
    flex: 1;

}

.status .status1-1{
      font-size: 58px;
      font-weight: 700;
      text-align: center;
      color: #96BB7C;
      margin-right: 7px;

}
.status .status1-2{
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      color: #252B42;

}

/* status-section end */

/* about-section */

.about{
   max-width: 100%;
   background-color:#FFFFFF ;
}

.upper-layout{
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.down-layout{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 20px;
    margin-top:80px;

}
.down-layout .layout-1{
    width:328px;
    margin:auto;
    padding: 35px 40px 35px 40px;
    gap: 20px;
    background-color: #FFFFFF;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.layout-1:hover{
    box-shadow: rgba(4, 4, 4, 4) 4px 8px 12px; 
}

.down-layout .layout-1 .underline{
    width: 50px;
    height: 2px;
    background-color: red;
    margin-top: 20px;
}

.down-layout .layout-1 .b1{
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.10000000149011612px;
      text-align: left;
      color: #252B42;
      margin-top: 30px;

}
.down-layout .layout-1 .b2{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      color: #737373;
      margin-top:30px
      

}
.iocn{
  border-radius:50%;
  padding: 10px;
  background-color: #FFF2F3;
}
.about-page{
    max-width: 100%;
    margin: auto;
    padding:  100px 0;
}
.upper-layout .a1{
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      color: #96BB7C;

}
.upper-layout .a2{
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      margin: 50px 0 50px 0;

}  
.upper-layout .a3{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      color:#737373;
}

/* about-section end */

/* serives-section */

.serives{
    max-width: 100%;
    background-color: #FFFFFF;
}
.about-serives{
    display: flex;
}
.serives-left{
    max-width: 50%;
    margin-top: 100px;
       
}   
.serives-left .under-line{
   width: 100px;
   height: 7px;
   background-color: red;
}
.serives-left .serives1{
      font-size: 40px;
      font-weight: 700;
      color: #252B42;
      margin-top: 50px;

}
.serives-left .serives2{
      font-size: 14px;
      font-weight: 400;
      color: #737373;
      margin-top: 50px;

}
.serives-left .serives3{
      font-size: 14px;
      font-weight: 700;
      color:#96BB7C;
      margin: 50px 0;
      display: flex;
      gap: 10px;
      align-items: center;

}
.serives-right{
    width: 50%;
    margin-top: 50px;

}
.serives-right img{
    width: 100%;
}

/* serive-section end */

/* tracher-section */

.teacher{
    max-width: 100%;
    margin: auto;
}
.upper-section{
    margin-top: 100px;
}
.lower-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
.upper-section .teach1{
      font-size: 14px;
      font-weight: 700;
      color: #96BB7C;

}
.upper-section .teach2{
     font-size: 40px;
     font-weight: 700;
     color: #252B42;
     margin-top: 25px;
}
.upper-section .teach3{
      font-size: 14px;
      font-weight: 400;
      color:#737373 ;
      margin-top: 25px;
}
.lower-section .teach-img1{
   max-width: 300px;
}
.teach-img1:hover{
    box-shadow: rgba(4, 0, 0, 0.1) 8px 4px 4px 4px;

}
.teach-img1 img{
    max-width:100% ;
}
.teach-img1 .rateing{
    display: flex;
    align-items: center;
    gap: 100px;
}
.teach-img1 .rateing .teach-a0{
      font-size: 14px;
      font-weight: 700;
      color: #96BB7C;
      margin-top: 10px;

}
.teach-img1 .rateing .rateingdisplay{
    border-radius: 75%;
    background-color: #252B42;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.teach-img1 .rateing .rateingdisplay .rateingstar{
    color: #F3CD03;
    font-size: 10px;
    padding: 2px 2px 2px 2px;
}
.teach-img1 .rateing .rateingdisplay .ratenumber{
    color: #FFFFFF;
    font-size: 10px;
    padding: 2px 2px 2px 2px;
}
.teach-img1 .teach-a1{
      font-size: 16px;
      font-weight: 700;
      color: #252B42;
      margin-top: 10px;

}
.teach-img1 .teach-a2{
      font-size: 14px;
      font-weight: 400;
      color: #737373;
      margin-top: 10px;

}
.teach-img1 .teach-a3{
    font-size: 14px;
    font-weight: 700;
    color: #737373;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    
}
.teach-img1 .rate {
    display: flex;
    gap: 15px;
    margin-top:10px;
}
.teach-img1 .imgBox{
    position: relative;
   
}
.sale{
    position: absolute;
    top:o;
    width: 60px;
    height: 30px;
    background-color: red;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left:15px ;
}
.sale .sale-1{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.iconn{
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: center;
  
}
.iconn .icon-1{
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}
.iconn .icon-1:hover{
    background-color: #e76565;
}
.iconn .icon-2{
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}
.iconn .icon-2:hover{
    background-color: #e76565;
}
.iconn .icon-3{
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}
.iconn .icon-3:hover{
    background-color: #e76565;
}
.teach-img1 .teach-a4-1{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #BDBDBD;

}
.teach-img1 .teach-a4-2{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #2DC071;

}
.teach-img1 .teach-a5{
    background-color: transparent;
    color: #96BB7C;
    border-radius: 75px;
    border-color: #96BB7C;
    display:flex;
    align-items: center;
    gap: 5px;
    border-width: 1;
    padding: 5px 5px 5px 5px;
    margin:10px 0 10px 0 ;

}
.teach-a5:hover{
    background-color:#DDF4FF;
}

/* teacher-section end */

/* client-section */

.client{
    max-width:100%;
    margin: auto;
    background-color: #DDF4FF;
}

.about-client{
    max-width: 1000px;
}
.client-upper{
    max-width: 1000px;
    margin-top: 100px;
}
.client-lower{
    max-width:1000px;
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
} 
.about-client .client-upper .client-a{
     font-size: 14px;
     font-weight: 700;
     text-align: left;
     color: #96BB7C;
     padding-top: 100px;
    

}
.about-client .client-upper .client-b{
      font-size: 40px;
      font-weight: 700;
      color: #252B42;
      margin-top: 30px;

}
.about-client .client-upper .client-c{
      font-size: 14px;
      font-weight: 400;
      color: #737373;
      margin-top: 30px;

}

.about-client .client-lower .rewive-1{
    width:328px;
    background-color:#FFFFFF;
    margin:50px 0 50px 0;


}
.client-lower .rewive-1 .star{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.rewive-1 .star .star-1{
     color: #F3CD03;
}
.rewive-1 .star .star-2{
     color: #F3CD03;
}
.rewive-1 .star .star-3{
     color: #F3CD03;
}.rewive-1 .star .star-4{
     color: #F3CD03;
}
.client-lower .rewive-1 .rewive-a{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    color:#737373;
}

.client-lower .rewive-1 .rewivers{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left:70px;
    margin-bottom: 20px;
    
}
.rewive-1 .rewivers .rewiver{
    margin-left: 10px;
}
.rewive-1 .rewivers .rewiver .rewiver1{
      font-size: 14px;
      font-weight: 700;
      color: #96BB7C;    
}

/* client-section end */

/* company-section */

.company{
    max-width: 100%;
    margin: auto;
    background-color: #FFFFFF;
}

.company .brand-logo{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;

}
 .brand-logo .brand1{
    font-size: 60px;
    color: #737373;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* company-section end */

/* subscribe-section */

.subscribe{
    max-width: 100%;
    margin: auto;
    padding-top: 10px;
}

.about-sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}
.about-sub .sub1{
    font-size: 14px;
    font-weight: 700;
    color: #96BB7C;
}
.about-sub .sub2{
   font-size: 40px;
   font-weight: 700;
   color: #252B42;
}
.about-sub .sub3{
   font-size: 14px;
   font-weight: 400;
   color: #737373;
}
.about-sub .email{
    max-width:690px;
    margin-top: 50px;
    display: flex;
    align-items: center;

}
.about-sub .email .mail-id{
    width: 550px;
    font-size: 25px;
    font-weight: 400;

}
.about-sub .email .sub5{
    width:140px;
    background-color: #96BB7C;
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
    border-color:transparent;

}
.email .sub5:hover{
    background-color: rgb(252, 87, 87);
}

/* subscribe-section */

/* footer-section */

footer{
  
    background-color: #FFFFFF;
}
.upper-footer{
    display: flex;
    gap: 10px;
    margin-top: 70px;
    margin-bottom: 20px;
    word-break: break-all;
}
.footer1{
  
    flex: 1;
   
}
.footer2{
    flex: 1.3;
}
.upper-footer .footerhead{
    font-size: 16px;
    font-weight: 700;
    color:#252B42;
   
}
.upper-footer  .footer-cont .foot{
   font-size: 14px;
   font-weight: 700;
   color: #737373;
   margin-top: 15px;

}
.upper-footer  .footer-cont-1 .foot{
    font-size: 14px;
    font-weight: 700;
    color: #737373;
    margin-top: 15px;
}
 .upper-footer  .footer-cont-1 .foot .footer-icon1{
    color: #96BB7C;
    margin-right: 10px;
 }
 .upper-footer  .footer-cont-1 .foot-1{
    font-size: 14px;
    font-weight: 700;
    color: #737373;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
}
.upper-footer  .footer-cont-1 .foot-1 .footer-icon1{
    color: #96BB7C;
    margin-right: 10px;
    margin-top: 15px;
    
} 

/* footer-section end */

/* end-part */

.endpart{
    width: 100%;
    background-color:#FFF2F3;
    padding: 20px 0px;
} 

.endsection{
display: flex;
background-color:#FFF2F3;
justify-content: space-between;
width: 100%;

}
.endsection .footer-end{
    font-size: 14px;
    font-weight: 700;
    color: #737373;
   
}
.endsection .footer-endicon{
    display: flex;
    gap: 30px;
    color: #96BB7C;
    align-items: center;
   
}

/* end-part end */

@media (max-width:1000px) {
    .navitems{
        display: flex;
        gap: 10px;
    }
}

@media (max-width:900px){
    .nav{
        gap:30px;
    }
    .banner-left .banner1{
        font-size: 10px;
        font-weight: 400;
        margin-top: 20px;
    }
    .banner-left .banner2{
      font-size: 40px;
      margin-top: 20px;
    }
    .banner-left .banner3{
      font-size: 15px;
      font-weight: 200;
      text-align: left;
      margin-top: 20px;
    }
    .btn .quote{
        width:100px;
        height: 30px;
    }
    .btn .learn{
        width:80px;
        height: 30px;
    }
    .status .status1-1{
        font-size: 17px;
        font-weight: 400;
    }
    .status .status1-2{
        font-size: 10px;
        font-weight: 400;
    }
    .serives-left .serives1{
        font-size: 20px;
        font-weight: 500;
    }
    .about-teacher .upper-section .teach2{
        font-size: 20px;
        font-weight: 500;
    }
    .about-client .client-upper .client-b{
        font-size: 20px;
        font-weight: 350;
    }
    .about-sub .sub2{
        font-size: 20px;
        font-weight: 350;
    } 
    .upper-footer .footerhead{
        font-size: 10px;
        font-weight: 500;
       
    }
    .upper-footer  .footer-cont .foot{
       font-size: 7px;
       font-weight: 350;
    }
    .upper-footer  .footer-cont-1 .foot{
        font-size: 7px;
        font-weight: 350;
    }
     .upper-footer  .footer-cont-1 .foot-1{
        font-size: 7px;
        font-weight: 350;
    }
    .about-sub .email .mail-id{
        width: 350px;
        font-size: 15px;
        font-weight: 400;
    
    }
    .about-sub .email .sub5{
        width:100px;
        font-size: 15px;
        font-weight: 400;
    }
    .endsection .footer-end{
        font-size: 7px;
        font-weight: 350;
       
    }
    
}
@media (max-width:870px){
    .container{
        padding: 0;
    }
     .navitems{
        position:absolute;
        top: 50px;
        right: -100%;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: rgb(66, 66, 242);
        z-index:2;
        transition: all 0.2s ease-in-out;
        color: #FFFFFF;

    }
    #check:checked ~ .navitems{
         left: 100;
    }
    .open-menu{
        display: block;
    }
    
    .navitems li a{
        color: #FFFFFF;
  
    }
    .loginbtn{
        margin-left:0;
        color: #FFFFFF;
    }
    .open-menu{
        display:block;
    }
    .close-menu{
        display: block;
    }
    .banner .banner-right{
        display: none;
    } 
    .banner .banner-left{
        max-width: 100%;
        display: flex;
        flex-direction:column;
        align-items:center;
    }
    .status-bar{
        display: flex;
        justify-content: center;
        gap: 90px;
    }
    .about-page .upper-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-page .down-layout{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .about-serives{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .serives-left{
        width: 100%;
        margin: auto;
    }
    .serives-right{
        width: 100%;
        margin: auto;
    }
    .serives-right .img{
        width: 60%;
    }
    .about-teacher .upper-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-teacher .lower-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .about-client .client-upper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-client .client-lower {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .company{
        max-width: 100%;
        margin: auto;
    }
    .company .brand-logo{
        font-size: 50px;
        display: flex;
        gap: 10px;
        
    }  
    .about-sub .email .mail-id{
        width: 200px;
        font-size: 10px;
        font-weight: 400;
    
    }
    .about-sub .email .sub5{
        width:75px;
        font-size: 10px;
        font-weight: 400;
    }  
}
@media (max-width:750) {
    .banner-left .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn .quote{
        width:50px;
        height: 30px;
        font-size: 3px;
        font-weight: 100;
    }
    .btn .learn{
        width:40px;
        height: 30px;
        font-size: 3px;
        font-weight: 100;
    }
    .status .status1-1{
        font-size: 35px;
        font-weight: 200;
    }
    .status .status1-2{
        font-size: 8px;
        font-weight: 400;
    }
    .about-sub .email{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width:700px) {
    .banner{
        display: flex;
        flex-direction: column;
    }
    .banner-left{
        margin-top: 50px;
    }
    .status-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .email{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .upper-footer{
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 30px;
    }
    .upper-footer .footerhead{
        font-size: 16px;
        font-weight: 700;
       
    }
    .upper-footer  .footer-cont .foot{
       font-size: 14px;
       font-weight: 700;
    
    }
    .upper-footer  .footer-cont-1 .foot{
        font-size: 14px;
        font-weight: 700;
    }
     .upper-footer  .footer-cont-1 .foot-1{
        font-size: 14px;
        font-weight: 700;
    }
}
@media (max-width:660px) {
     .mail-id{
        width: 100px;
        font-size: 15px;
        font-weight: 100;
     }   
}
@media (max-width:500px) {
    .company .brand-logo span i{
        font-size: 20px;
        gap: 5px;
    }    
}
@media (max-width:380px){
    .status .status1-1{
        font-size: 25px;
        font-weight: 400;
        margin-right: 60px;
    }
    .status .status1-2{
        font-size: 8px;
        font-weight: 400;
        margin-right: 60px;
    }
    .banner-left .banner2{
        font-size: 20px;
        margin-top: 20px;
      }
    .down-layout .layout-1{
        width:250px;
        margin:auto;
    }
    .about-client .client-lower .rewive-1{
        width:200px;
    }
    .rewivers{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 10px;
        gap: 20px;
    }
    .rewiver .rewiver1{
        display: flex;
        gap: 5px;
    }
}
@media (max-width:280px) {
    .down-layout .layout-1{
        width:225px;
    }   
    .upper-footer .footerhead{
        font-size: 12px;
        font-weight: 700;
        
       
    }
    .upper-footer  .footer-cont .foot{
       font-size: 12px;
       font-weight: 350;
    }
    .upper-footer  .footer-cont-1 .foot{
        font-size: 12px;
        font-weight: 350;
    }
    .upper-footer  .footer-cont-1 .foot-1{
        font-size: 12px;
        font-weight: 350;
    }
}
